.logo {
    height: 70px;
    width: 70px;
}

.backg {
    height: 100vh;
    background-image: url("backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backg2 {
    background-color: rgba(0, 0, 0, 0.7);
}

.formulario {
    width: 36%;
}

.pie-pagina {
    height: 16vh;
}

@media (max-width: 1280px) {
    .formulario {
        width: 64%;
    }
}

@media (max-width: 960px) {
    .formulario {
        width: 64%;
    }
}

@media (max-width: 720px) {
    .formulario {
        width: 72%;
    }
}

@media (max-width: 600px) {
    .formulario {
        width: 84%;
    }
}

@media (max-width: 450px) {
    .logo {
        display: none;
    }   
}
