body {
    background-image: url("backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.margenes {
    margin: 0 16px;
}

.logo {
    height: 70px;
    width: 70px;
}

.txt {
    width: 98%;
}

.pie {
    height: 16vh;
}

@media (max-width: 1000px) {
    * {
        font-size: 12px
    }
}

@media (max-width: 600px) {
    aside {
        display: none;
    }
}